# NODE MUDULES
/node_modules/
/Server/node_modules/
/Frontend/node_modules/

# DS STORE
/.DS_STORE/
/Server/.DS_STORE/
/Frontend/.DS_STORE/

# SENSITIVE USER INFO
/Server/data

# ENVIRONMENT VARIABLES
.env
